SMFRAZZLED Bitmap "graphics\\FRAZZLED.BMP"
SMHAPPY Bitmap "graphics\\HAPPY.BMP"
SMINDIFFERENT Bitmap "graphics\\INDIFFER.BMP"
SMOOH Bitmap "graphics\\OOH.BMP"
SMOUTCOLD Bitmap "graphics\\OUTCOLD.BMP"
SMSAD Bitmap "graphics\\SAD.BMP"
SMSHADES Bitmap "graphics\\SHADES.BMP"
SMTONGUE Bitmap "graphics\\TONGUE.BMP"
SMWINK Bitmap "graphics\\WINK.BMP"
